.preview-box {
    border: 1px solid;
    border-color: @borders;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: @theme_unfocused_base_color;
}
.preview-image-button,
.preview-image-button:hover {
    padding: 0px;
    border: none;
    transition: none;
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}
.preview-button {
    border: 1px solid @borders;
}
